<script src='http://connect.facebook.net/en_US/all.js'></script>

<h1 class="post-title"><%= @post.title %></h1>
<hr>
<%= image_tag @post.image.url if !@post.image_file_name.nil? %>
<p class="post-content"><%= markdown(@post.content) %></p>

<hr>
<div class="row">
  <div class="span2" style="text-align: center">
    <%= link_to 'Edit Post', edit_post_path(@post), html_options = {class: 'btn btn-large'}%>
  </div>
  <div class="span10">
    <h4>Share Post!</h4>
    <a class="btn btn-primary btn-small" href="#" id="fb-share" data-link="<%= post_url %>" data-uri="<%= post_url %>" data-name="<%= @post.title %>" data-caption="<%= @post.title %>" data-description="<%= @post.content[0..100] %>">Share on Facebook</a>
    <a data-text="<%= @post.title + ' - ' + post_url %>" href="https://twitter.com/share" class="twitter-share-button" data-related="" data-via="blog" data-lang="es" data-count="horizontal">Tweet it!</a>
  </div>
</div>

<hr>
<h5>Comments</h5>
<ul id="comments">
  <%= render @comments %>
</ul>
<hr>

<h4>Deja tu comentario</h4>
<%= simple_form_for [@post, @post.comments.build], remote: true do |f| %>
  <%= f.input :nickname if !user_signed_in? %>
  <%= f.input :message, :input_html => {:rows => 5}  %>
  <%= f.button :submit, class: 'btn btn-info' %>
<% end %>