<script src='http://connect.facebook.net/en_US/all.js'></script>

<h1 class="post-title"><%= @post.title %></h1>
<hr>
<%= image_tag @post.image.url if !@post.image_file_name.nil? %>
<p class="post-content"><%= markdown(@post.content) %></p>

<hr>
<div class="row">
  <div class="span2" style="text-align: center">
    <%= link_to 'Edit Post', edit_post_path(@post), html_options = {class: 'btn btn-large'}%>
  </div>
  <div class="span10">
    <h4>Share Post!</h4>
    <a class="btn btn-primary btn-small" href="#" id="fb-share" data-link="<%= post_url %>" data-uri="<%= post_url %>" data-name="<%= @post.title %>" data-caption="<%= @post.title %>" data-description="<%= @post.content[0..100] %>">Share on Facebook</a>
    <a data-text="<%= @post.title + ' - ' + post_url %>" href="https://twitter.com/share" class="twitter-share-button" data-related="" data-via="blog" data-lang="es" data-count="horizontal">Tweet it!</a>
  </div>
</div>

<hr>
<h5>Comments</h5>

<ul id="comments">
  <% @comments.each do |comment| %>
    <li><b>
      <% if comment.user_id.nil? %>
        <%= comment.nickname %>
      <% else %>
        <%= User.find(comment.user_id).full_name %>
      <% end %>
      </b><small><%= time_ago_in_words(comment.created_at) %></small> | 
      <span id="comment_<%= comment.id %>"><%= comment.likes.count %> Like<%= 's' if comment.likes.count != 1 %></span> | 
      <span id="action_<%= comment.id %>">
        <% if user_signed_in? %>
          <% if comment.likes.where(user_id: current_user.id).empty? %>
            <%= link_to 'Like!', new_comment_like_path(comment), remote: true, class: 'btn btn-mini btn-success' %>
          <% else %>
            <%= link_to 'Unlike', comment_like_path(comment), remote: true, method: :delete, class: 'btn btn-mini' %>
          <% end %>
        <% end %>
      </span>
      <p><%= comment.message %></p>
    </li>
  <% end %>
</ul>
<hr>

<h4>Deja tu comentario</h4>
<%= simple_form_for [@post, @post.comments.build], remote: true do |f| %>
  <%= f.input :nickname if !user_signed_in? %>
  <%= f.input :message, :input_html => {:rows => 5}  %>
  <%= f.button :submit, class: 'btn btn-info' %>
<% end %>